HIRO_API_URL="https://api.hiro.so/ordinals/v1"
HIRO_API_KEY="ABC123"

ORD_API_URL="https://explorer.ordinalsbot.com"

MEMPOOL_API_URL="https://mempool.space/api"
PUBLIC_MEMPOOL_WS_URL="wss://mempool.space/api/v1/ws"

ORDINALSBOT_API_URL="https://api.ordinalsbot.com"

BITCOIN_NETWORK="mainnet"