@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.text-binternet {
	@apply bg-gradient-to-tr from-primary-500 to-orange-600 bg-clip-text text-transparent;
}
